<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/ecit.svg">
    <link rel="stylesheet" href="static/index.css">
    <title>Krypterat meddelande</title>
  </head>
  <body>
    
    <div>
      <img src="static/ecit.svg" width="200px">
    </div>
    <div>
    {% if message %}
    <p id="viewm">{{message.replace("\\n","\n")}}</p>
    {% endif %}
  </div>
    <!--<a href="/">Tillbaka till start</a>-->
  </body>
</html>
